<footer>
    <nav class="navbar bg-body-tertiary shadow-sm">
        <div class="container-fluid position-relative">
            <a class="navbar-brand position-absolute top-50 start-50 translate-middle">© 2025 JShop</a>
        </div>
    </nav>
</footer>