<header>
  <h1>NarkoShop</h1>
  <nav>
    {{#if isAuthenticated}}
      <a href="/">Home</a>
      <a href="/products">Продукты</a>
      <a href="/cart">Корзина</a>
      <a href="/order">Заказы</a>
      <a href="/profile">Профиль</a>
      <a href="/logout">Выйти</a></li>
    {{else}}
      <a href="/">Home</a>
      <a href="/products">Продукты</a>
      <a href="/cart">Корзина</a>
      <a href="/order">Заказы</a>
      <a href="/login">Войти</a>
    {{/if}}
  </nav>
</header>