<div class="text-center py-5">
  <h2 class="mb-3">Добро пожаловать в JShop!</h2>
  <p class="mb-4">Ознакомьтесь с нашими <a href="/products" class="btn btn-outline-primary btn-sm">товарами</a></p>
</div>